#Python Venv
venv/*

# Logs
camera-app/log.txt

# Pycache
camera-app/__pycache__/*
camera-app/tests/__pycache__/*
webapp/birbcam-app/__pycache__/*
notebooks/__pycache__/*

# Images
imgs/*.jpg
imgs/training/*.jpg
camera-app/tests/test_temp/*
webapp/birbcam-app/static/imgs
notebooks/data/training/*.jpg

# Models
models/*

#Data
# Ignore everything in this directory
data/*
# Except these files
!.gitignore
!db_schema.sql
!species_map.example.json

# Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/*

# Tests
camera-app/tests/test_assets/*

# Secrets
*/secrets.py
*/*/secrets.py
*/client_secrets.json
*/env_params.sh
settings.env
