##### Python Section #####

#Python Venv
venv/*

# Pycache
camera-app/__pycache__/*
camera-app/tests/__pycache__/*
webapp/birbcam-app/__pycache__/*
notebooks/__pycache__/*
#################################

##### AI Model Data Section #####

# Images
imgs/*.jpg
imgs/training/*.jpg
camera-app/tests/test_temp/*
webapp/birbcam-app/static/imgs
notebooks/data/training/*.jpg

# Models
models/*

# Data
data/*
data/species_map.json
# Except these files
!.gitignore
!db_schema.sql
!species_map.example.json

# Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/*
################################

##### Testing Section #####

# Tests
camera-app/tests/test_assets/*
###############################

##### Secrets Section #####

# Secrets
*/secrets.py
*/*/secrets.py
*/client_secrets.json
*/env_params.sh
settings.env
#############################
